<div class="container-fluid row">
    <div class="col-2">
       <app-sidebar></app-sidebar>
    </div>
    <div class="col-10">
       <h1>All Users list</h1>
       <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">email</th>
      
    </tr>
  </thead>
  <tbody>
    @for (item of allUsers; track $index) {
        <tr>
      <th scope="row">{{$index}}</th>
      <td>{{item.username}}</td>
      <td>{{item.email}}</td>
   
    </tr>
    }
    
  </tbody>
</table>
    </div>
</div>


