<div class="container-fluid row">
    <div class="col-2">
       <app-sidebar></app-sidebar>
    </div>
    <div class="col-10">
       <h1>All Users list</h1>
       <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">RecipeID</th>
      <th scope="col">RecipeName</th>
      <th scope="col">RecipeCuisine</th>
      <th scope="col">count</th>
      
    </tr>
  </thead>
  <tbody>
    @for (item of downloads; track $index) {
        <tr>
      <th scope="row">{{$index}}</th>
      <td>{{item.recipeID}}</td>
      <td>{{item.recipeName}}</td>
      <td>{{item.recipeCuisine}}</td>
      <td>{{item.count}}</td>
   
    </tr>
    }
    
  </tbody>
</table>
    </div>
</div>


